// https://coolors.co/ba4b3b-14080e-fbf5f3-e28413-336699
$color1: rgba(186, 75, 59, 1);
$color2: rgba(20, 8, 14, 1);
$color3: rgba(251, 245, 243, 1);
$color4: rgba(226, 132, 19, 1);
$color5: rgba(51, 102, 153, 1);

// https://coolors.co/28536b-fff8f0-7ea8be-6b0504-353535
$color1: rgba(40, 83, 107, 1);
$color2: rgba(255, 248, 240, 1);
$color3: rgba(126, 168, 190, 1);
$color4: rgba(107, 5, 4, 1);
$color5: rgba(53, 53, 53, 1);

$text: $color5;
$headingColor: $color3;
$linkColor: $color4;


$bgDark: #d7d5dd;
$bgLight: #eee;

$navigationBg: $color1;

$postBg: $color4;

$borderColor: $color5;

$white: #fff;

$shadowBg: rgba(0, 0, 0, 0.12);
$shadowBgHover: rgba(0, 0, 0, 0.25);
$shadowBgHover2: rgba(0, 0, 0, 0.22);
