$white: #fff;
// https://coolors.co/0d0106-3626a7-657ed4-ff331f-fbfbff
$smokyBlack: rgba(13, 1, 6, 1);
$bluePigment: rgba(54, 38, 167, 1);
$livid: rgba(101, 126, 212, 1);
$red: rgba(255, 51, 31, 1);
$ghostWhite: rgba(251, 251, 255, 1);




$text: $smokyBlack;
$background: $ghostWhite;
$navigationBg: $livid;
$bubbleBg: $bluePigment;