// https://coolors.co/ba4b3b-14080e-fbf5f3-e28413-336699
$color1: rgba(186, 75, 59, 1);
$color2: rgba(20, 8, 14, 1);
$color3: rgba(251, 245, 243, 1);
$color4: rgba(226, 132, 19, 1);
$color5: rgba(51, 102, 153, 1);

$text: $color2;

$bgDark: #d7d5dd;
$bgLight: #eee;

$navigationBg: $color1;

$postsBg: $color4;
$linkColor: $color5;

$white: #fff;
