@import "reset";
@import "palette";
@import "mixins";
@import "header/index";
@import "index/index";
@import "footer/index";
@import "post/index";
@import "single/index";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0 !important;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $bgDark;
  background-image: linear-gradient(
                  90deg,
                  $bgDark 0,
                  $bgLight 30%,
                  $bgLight 70%,
                  $bgDark
  );
  color: $text;
}

/*
h1,
h2 {
  @include fontLight(26);
}

h3,
h4 {
  font-size: 1.8rem;
  line-height: 1.444;
}
*/

a {
  color: $linkColor;
}

p {
  margin: 1.2rem 0;
}

ul {
  list-style: disc;
  padding-left: 1.2rem;
}

ol {
  list-style: decimal;
  padding-left: 1.2rem;
}


.page {
  @include card();
  margin: 3rem auto 2.4rem;
  width: calc(75% - 10px);
  min-width: 650px;
  padding: 0.5rem;

  &:hover {
    // override card mixin hover effect
    box-shadow: 0 1px 3px $shadowBg, 0 1px 2px $shadowBg;
  }

  &__inner {
    @include fontNormal(16);
    background: #fff;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 184px auto;
    grid-gap: 2.4rem;
  }
  &__title {
    @include fontLight(44);
    grid-column-start: 1;
    grid-column-end: span 2;
    margin: 0;
    color: $headingColor;
  }

  &__content {
    @include fontNormal(16);
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-gap: 2.4rem;
  }
}
