.latest_post {
  margin: 2.4rem auto;
  width: 75%;
  min-width: 650px;
}


@media (max-width: 920px) {
  .latest_post {
    margin: 3rem auto 2.4rem;
    width: calc(95% - 10px);
    padding: 0.5rem;
    min-width: unset;
  }
}

@media (max-width: 420px) {
  .latest_post {
    margin: 3rem auto 2.4rem;
    width: unset;
    min-width: unset;
    padding: 0.5rem;
  }
}
