@import "../../palette";
@import "../../mixins";

.posts {
  margin: 2.4rem auto;
  width: 75%;
  min-width: 650px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;

  &__title {
    @include fontLight(32);
    margin: 0;
    grid-column: 1 / 4;
    color: $headingColor;
  }
}

@media (max-width: 920px) {
  .posts {
    margin: 3rem auto 2.4rem;
    width: calc(95% - 10px);
    padding: 0.5rem;
    min-width: unset;
    grid-template-columns: repeat(2, 1fr);

    &__title {
      grid-column: 1 / 3;
    }
  }
}

@media (max-width: 420px) {
  .posts {
    margin: 3rem auto 2.4rem;
    width: unset;
    min-width: unset;
    padding: 0.5rem;

    min-width: unset;
    display: block;

    &__title {
      margin-bottom: 1rem;
      display: block;
    }
  }
}
