@import "../../palette";
@import "../../mixins";

.posts {
  margin: 2.4rem auto;
  width: 75%;
  min-width: 650px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;

  &__title {
    @include fontLight(32);
    margin: 0;
    grid-column: 1 / 4;
    color: $headingColor;
  }
}

.navigation {
  grid-column: 1 / 4;
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .screen-reader-text {
    display: none;
  }

  .nav-links {
    .page-numbers {
      @include fontNormal(14);
      text-decoration: none;
      color: $text;
      float: left;
      display: block;
      border-radius: 2px;

      box-shadow: 0 1px 3px $shadowBg, 0 1px 2px $shadowBg;

      background: #fff;
      //border: 1px solid $borderColor;
      padding: 0.5rem;
      margin-right: 0.5rem;

      &.current {
        font-weight: bold;
      }

      &:hover {
        color: #fff;
        background: $linkColor;
      }
    }
  }
}

@media (max-width: 920px) {
  .posts {
    margin: 3rem auto 2.4rem;
    width: calc(95% - 10px);
    padding: 0.5rem;
    min-width: unset;
    grid-template-columns: repeat(2, 1fr);

    &__title {
      grid-column: 1 / 3;
    }
  }

  .navigation {
    grid-column: 1 / 3;

  }
}

@media (max-width: 420px) {
  .posts {
    margin: 3rem auto 2.4rem;
    width: unset;
    min-width: unset;
    padding: 0.5rem;

    display: block;

    &__title {
      margin-bottom: 1rem;
      display: block;
    }
  }

  .navigation {
    margin-bottom: 1rem;
    display: block;
  }
}
