@import "../../styles/palette";
@import "../../styles/mixins";

.intro {
  @include card();
  margin: 3rem auto 2.4rem;
  width: calc(75% - 10px);
  min-width: 650px;
  padding: 0.5rem;

  &:hover{
    // override card mixin hover effect
    box-shadow: 0 1px 3px $shadowBg, 0 1px 2px $shadowBg;
  }

  &__inner {
    @include fontNormal(16);
    background: #fff;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 184px auto;
    grid-gap: 2.4rem;
  }
  &__title {
    @include fontLight(44);
    grid-column-start: 1;
    grid-column-end: span 2;
    margin: 0;
  }
}

@media (max-width: 920px) {
  .intro {
    margin: 3rem auto 2.4rem;
    width: calc(95% - 10px);
    padding: 0.5rem;
    min-width: unset;
  }
}
