@import "../../styles/palette";

.intro {
  margin: 3rem auto 2.4rem;
  width: calc(75% - 10px);
  min-width: 650px;
  padding: 0.5rem;
  box-shadow: 0 0 30px #cdcdcd;
  background-color: #fff;
  background-image: radial-gradient(circle at center, #ddd 0, #efefef 100%);
  &__inner {
    background: #fff;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 184px auto;
    grid-gap: 2.4rem;
  }
  &__title {
    grid-column-start: 1;
    grid-column-end: span 2;
    font-size: 4.1rem;
    line-height: 1;
    font-weight: normal;
    margin: 0;
  }
}
