@import "../../styles/palette";

.intro {
  margin: 0 auto;
  width: 65%;
  max-width: 800px;
  display:grid;
  grid-template-columns: 184px auto;

  &__title {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  &__logo {
  }

  &__text {
  }
}