@import "../palette";
@import "../mixins";

.footer {
  width: 100%;
  margin: 0;
  background: $bgLight;
  box-shadow: 0 1px 3px $shadowBg, 0 1px 2px $shadowBg;
  @include fontNormal(16);
  &__inner {
    margin: 0 auto;
    width: 75%;
    min-width: 650px;
    padding: 2.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem;
  }
  &_nav {
    &__title {
      @include fontLight(18);
      margin: 1.2rem 0;
    }

    &__items{
      margin-left: 1.7em;
    }
  }
}

.footer_nav{
  &__link{
    @include fontNormal(14);
  }
}

.about {
  &__title {
    @include fontLight(18);
    margin: 1.2rem 0;
  }
  &__text {
    @include fontNormal(14);
    padding-left: 1.7em;
    margin-bottom: 1em;

    p {
      margin: 0.6rem 0;
    }
  }
}

.license {
  &__title {
    @include fontLight(18);
    margin: 1.2rem 0;
  }
  &__text {
    @include fontNormal(14);
    padding-left: 1.7em;
    margin-bottom: 1em;
  }
}

@media (max-width: 920px) {
  .footer {
    width: 100%;
    margin-bottom: 60px;

    &__inner {
      display: block;
      width: unset;
      min-width: unset;
      padding: 1.2rem;
      grid-gap: unset;
    }
  }
}
